/* .score,
.qa {
    display: none;
} */


/* #displayName {
    background-color: aquamarine;
} */

#h3,
#score,
#time,
#firstquestion,
#secondquestion,
#thirdsecondquestion,
#next,
#result {
    display: none;
}